* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
}

.body {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body::after {
  position: absolute;
  content: "";
  min-height: 100vh;
  width: 100%;
  background-image: url(/images/cassette.jpg);
  background-size: cover;
  background-position: 50% 30%;
  -webkit-filter: blur(5px) grayscale(1);
          filter: blur(5px) grayscale(1);
  z-index: -1;
}

.title {
  color: #04721f;
  -webkit-filter: drop-shadow(0px 0px 5px #fff);
          filter: drop-shadow(0px 0px 5px #fff);
}

.main {
  margin: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100;
}

.main-key {
  margin: .25em;
  width: calc(4.2rem + 5vw);
  height: calc(4.2rem + 5vw);
  border-radius: 5px;
  background-color: #129ac7;
  color: #fff;
  -webkit-box-shadow: 0px 0px 0px 0px #03bd22;
          box-shadow: 0px 0px 0px 0px #03bd22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 50ms ease-in-out, -webkit-box-shadow 50ms ease-in-out;
  transition: -webkit-transform 50ms ease-in-out, -webkit-box-shadow 50ms ease-in-out;
  transition: transform 50ms ease-in-out, box-shadow 50ms ease-in-out;
  transition: transform 50ms ease-in-out, box-shadow 50ms ease-in-out, -webkit-transform 50ms ease-in-out, -webkit-box-shadow 50ms ease-in-out;
}

.main-key:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #0e6b8a;
  -webkit-box-shadow: 0px 0px 12px 8px #03bd9e;
          box-shadow: 0px 0px 12px 8px #03bd9e;
}

.main-key-letter {
  font-size: 3.5rem;
}

.active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #0e6b8a;
  -webkit-box-shadow: 0px 0px 12px 8px #03bd9e;
          box-shadow: 0px 0px 12px 8px #03bd9e;
}
